SUPABASE_URL=https://ahzrktexzpmscjhgqrqx.supabase.com
SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_SUPABASE_URL=https://ahzrktexzpmscjhgqrqx.supabase.com
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your_supabase_anon_key
NODE_ENV=development
GEMINI_API_KEY=
